/* font-family*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button_edit {
  background-color: #52a932;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 10px;
  margin: 5px
}


.button_remove {
  background-color: #ea1111;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 10px;
  margin: 5px
}
