.dashbord-header-container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dashbord-header-btn {
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #015C92;
    background-color: #015C92;
}   

.btn-aup {
    padding: 0.8em;
    padding-left: 2m;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #015C92;
    background-color: #015C92;
}  

.btn-edit {
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    background-color: #015C92;
} 

.btn-remove {
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    background-color: #cb2727;
}


.dashbord-header-btn:hover {
    color: #015C92;
    border: 1px solid #015C92;
    background-color: #F0F2F5;
}
.dashbord-header-right {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
}
.dashbord-header-icon {
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.dashbord-header-avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 40px;
}